<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Holiday Me</title>
    <link href="../styles/base.css" rel="stylesheet" />
    <link href="../styles/specificHeader.css" rel="stylesheet" />
    <link href="../styles/specificFooter.css" rel="stylesheet" />
    <link href="../styles/text.css" rel="stylesheet" />
    <link href="../styles/specificMyAccount.css" rel="stylesheet" />
    <link href="../styles/button.css" rel="stylesheet" />
    <link href="../styles/liste.js" rel="javascript"/>
</head>

<body>

    <div id="header">

        <div id="logo"></div>

        <div id="menu">
            <ul>
                <li><a href="home.html">Accueil</a></li>
                <li><a href="news.html">Actualité</a></li>
                <li><a href="community.html">Notre communauté</a></li>
                <li><a href="project.html">Notre projet</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a class="selected">Mon compte</a></li>
            </ul>
        </div>

    </div>

     <div id="content">
       <div id="leftMenu">
           <ul>
               <li class="title">Mon compte</li>
               <li class="item"><a href="editMyData.html">Mes données</a></li>
               <li class="item"><a  href="editPassword.html">Changer de mot de passe</a></li>
           </ul>
           <ul>
               <li class="title">Administration</li>
               <li class="item"><a>Tableau de bord</a></li>
               <li class="item"><a href="adminUsers.html">Utilisateurs</a></li>
               <li class="item selected"><a>Logements</a></li>
               <li class="item"><a>Mailing</a></li>
           </ul>
       </div>
	        <div id="innerContent">	
		        <form method="POST" class="addContent" commandName="file"  enctype="multipart/form-data">
		            <h1 class="formTitle">Ajouter des photos</h1>
		             <table>
		             <tr>
			            <td><input type="file" name="file" id="import-file"/></td>
			             <td colspan="2"><button class="inscriptionButton">Ajouter photo</button></td>
	               	 </tr>  	
	               	 <tr th:each="name : ${photoList}">
                        <td th:text="${name.value.name}"></td>
                        <td><a class="form" th:href="@{'/deletePhoto/'+${name.key}}">Supprimer</a></td>
                   	</tr> 	
	                 <!-- <tr th:each="photo : ${photoList}">
                        <td th:text="${photo.Name}"></td>
                        <td><a class="form" th:href="@{'/deletePhoto/'+${photo.id}}">Supprimer</a></td>
                   	</tr> -->
                   	<tr>
                   	<td><a class="form" th:href="@{/retour}">Retour logement</a></td>
                   	</tr>
		            </table>	          
		        </form>
	        </div>

    </div>

    <div id="footer">
        <p>Audrey <span class="smallCaps">Pautot</span> - Sophie <span class="smallCaps">Hantzperg</span></p>
        <p>Master 2 en Méthodes Informatiques Appliquées à la Gestion des Entreprises</p>
    </div>
</body>

</html>
