<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Holiday Me</title>
    <link href="../styles/base.css" rel="stylesheet" />
    <link href="../styles/specificHeader.css" rel="stylesheet" />
    <link href="../styles/specificFooter.css" rel="stylesheet" />
    <link href="../styles/text.css" rel="stylesheet" />
    <link href="../styles/specificMyAccount.css" rel="stylesheet" />
    <link href="../styles/button.css" rel="stylesheet" />
</head>

<body>

    <div id="header">

        <div id="logo"></div>
        <div id="menu">
            <ul>
                <li><a href="home.html">Accueil</a></li>
                <li><a href="news.html">Actualité</a></li>
                <li><a href="community.html">Notre communauté</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a class="selected">Mon compte</a></li>
            </ul>
        </div>

    </div>

    <div id="content">
       <div id="leftMenu">
           <ul>
               <li class="title">Mon compte</li>
               <li class="item"><a href="editMyData.html">Mes données</a></li>
               <li class="item"><a href="suscribersEditPass.html">Changer de mot de passe</a></li>
               <li class="item"><a  href="/adminGeneral/deconnect">Déconnexion</a></li>
           </ul>
           <ul>
               <li class="title">Administration</li>
               <li class="item selected"><a>Utilisateurs</a></li>
               <li class="item"><a href="adminHousing.html">Logements</a></li>
               <li class="item"><a href="adminBooking.html">Réservations</a></li>
           </ul>
       </div>

        <div id="innerContent">
            
            <form class="management">
                <h1>Gestion des utilisateurs</h1>
                <table>
                    <tr class="rowTitle">
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Mail</th>
                        <th>Détails</th>
                        <th>Statut</th>
                        <th>Rôle</th>
                    </tr>
                    <tr th:each="user : ${userList}">
                        <td th:text="${user.Id}"></td>
                        <td th:text="${user.Nom}"></td>
                        <td th:text="${user.Prenom}"></td>
                        <td th:text="${user.Email}"></td>
                        <td><a class="form" th:href="@{'/view/'+${user.id}}">Voir</a></td>
                        <td th:text="${user.CurrentUserStatus}"></td>
                        <td th:text="${user.CurrentUserRole}"></td>
                    </tr>
                </table>
            </form>
        </div>

    </div>

    <div id="footer">
        <p>Audrey <span class="smallCaps">Pautot</span> - Sophie <span class="smallCaps">Hantzperg</span></p>
        <p>Master 2 en Méthodes Informatiques Appliquées à la Gestion des Entreprises</p>
    </div>
</body>

</html>
