<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Holiday Me</title>
    <link href="../base.css" rel="stylesheet" />
    <link href="../specificHeader.css" rel="stylesheet" />
    <link href="../specificFooter.css" rel="stylesheet" />
    <link href="../text.css" rel="stylesheet" />
    <link href="../specificMyAccount.css" rel="stylesheet" />
    <link href="../button.css" rel="stylesheet" />
</head>

<body>

    <div id="header">

        <div id="logo"></div>
        <div id="menu">
            <ul>
                <li><a href="home.html">Accueil</a></li>
                <li><a href="news.html">Actualité</a></li>
                <li><a href="community.html">Notre communauté</a></li>
                <li><a href="project.html">Notre projet</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a class="selected">Mon compte</a></li>
            </ul>
        </div>

    </div>

    <div id="content">
       <div id="leftMenu">
           <ul>
               <li class="title">Mon compte</li>
               <li class="item"><a href="editMyData.html">Mes données</a></li>
               <li class="item"><a href="suscribersEditPass.html">Changer de mot de passe</a></li>
           </ul>
           <ul>
               <li class="title">Administration</li>
               <li class="item"><a>Tableau de bord</a></li>
               <li class="item"><a href="adminUsers.html">Utilisateurs</a></li>
               <li class="item selected"><a href="adminHousing.html">Logements</a></li>
               <li class="item"><a>Mailing</a></li>
           </ul>
       </div>

        <div id="innerContent">
            
            <form class="management">
                <h1>Gestion des logements</h1>
                <a class="pseudoButton" type="submit" href="createEditHousing.html"><button class="addNewItem">Ajouter un nouvel élément</button></a>
                <table>
                    <tr class="rowTitle">
                        <th>Id</th>
                        <th>Nom propriétaire</th>
                        <th>Prénom propriétaire</th>
                        <th>Type de logement</th>
                        <th>Description</th>
                        <th>Détails</th>
                        <th></th>
                    </tr>
                    <tr th:each="housing : ${housingList}">
                        <td th:text="${housing.Id}"></td>
                      <!--    <td th:text="${housing.Proprietaire.Nom}"></td>
                        <td th:text="${housing.Proprietaire.Prenom}"></td>-->
                        <td th:text="${housing.ShortDescription}"></td>
                        <td><a class="form" th:href="@{'/viewHousing/'+${housing.id}}">Voir</a></td>
                        <td><a class="form" th:href="@{'/deleteHousing/'+${housing.id}}">Supprimer</a></td>
                    </tr>
                </table>
            </form>
        </div>

    </div>

    <div id="footer">
        <p>Audrey <span class="smallCaps">Pautot</span> - Sophie <span class="smallCaps">Hantzperg</span></p>
        <p>Master 2 en Méthodes Informatiques Appliquées à la Gestion des Entreprises</p>
    </div>
</body>

</html>
