<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Holiday Me</title>
    <link href="../styles/base.css" rel="stylesheet" />
    <link href="../styles/specificHeader.css" rel="stylesheet" />
    <link href="../styles/specificFooter.css" rel="stylesheet" />
    <link href="../styles/text.css" rel="stylesheet" />
    <link href="../styles/specificConstruction.css" rel="stylesheet" />
    <link href="../styles/specificStatic.css" rel="stylesheet" />
</head>

<body>

    <div id="header">

        <div id="logo"></div>
        <div id="menu">
            <ul>
                <li><a href="home.html">Accueil</a></li>
                <li><a href="news.html">Actualité</a></li>
                <li><a class="selected">Notre communauté</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                  <li th:if="${userConnected} == true">
                	<a href="adminGeneral.html">Mon compte</a>
                </li>
                <li th:if="${userConnected} == false">
                	<a href="connexion.html">Connexion</a>
               	</li>
            </ul>
        </div>

    </div>

    <div id="content">
    	<div class="citation">
    		<div class="citationContent">« Le Soleil est nouveau chaque jour »</div>
    		<div class="citationAuthor">Héraclite</div>
    	</div>
    
    	<div class="articles">
    		<div class="article">
    			<div class="articleContent left">
					<p>Vous souhaitez améliorer vote manière d’être ? Ouvrir vos chakras ? Être plus aimable avec les gens autour de vous ? Augmenter vos revenus mensuels ?</p>
					<p>Avec Holiday Me, <span class="accent">c’est possible.</span></p>
					<p>Notre communauté responsable se base sur la confiance dans les cartes de crédits et l’approvisionnement des chèques bancaires.</p>

				</div>
		    	<div class="articleImage right">
		    		<img class="lessSmallImage middle" alt="smile" src="../images/smile.png"/>
		    	</div>	 
    		</div>
    		<div class="article">
				<div class="articleContent right">
					<p>La confiance, au sein de notre communauté est en effet financière.</p>
					<p>En tant que locataire, si vous avez un désagrément avec le logement (signalé avant la date de sortie), le propriétaire devra se soumettre au règlement d’une somme compensatoire.</p>
					<p>En tant que propriétaire, si des dégradations sont observées, le locataire sera dans ce cas également soumis à une obligation de versement d’une somme compensatoire.</p>
					<p><span class="smallText">Le montant des compensations est décidé par Holiday Me et est communiqué dans les 12 heures suivant la confirmation d’un expert sur le différent.</span></p>
				</div>
		    	<div class="articleImage left">
		    		<img class="smallImage middle" alt="skull" src="../images/money_bag.png"/>
		    	</div>
	    	</div>	 
			<div class="article">
				<h1 class="articleTitle">Des solutions faciles en cas de dégradation</h1>
				<div class="articleContent left">
					<p> Même si notre équipe fait de son mieux pour exclure de la communauté tous les membres problématiques, nous ne sommes jamais à l’abri de locataires responsables de dégradations dans vos propriétés.</p>
					<p>Mais ne vous n’inquiétez pas, Holiday Me a mis en place un réseau avec des cabinets d’huissiers spécialisés dans le recouvrement vous permettant de gérer vos différents sans être pour autant présent dans la même ville.</p>
					<p>Côté financement ? Ne vous inquiétez pas, toute la procédure est à notre charge <span class="smallText">(moyennant une commission de 50% sur vos 5 prochaines locations). </span></p>

				</div>
		    	<div class="articleImage right">
		    		<img class="lessSmallImage middle" alt="thumbUp" src="../images/pouceLeve.png"/>
		    	</div>	    		
		   	</div>
		   	
		   	<div class="article">
				<h1 class="articleTitle">La garantie Zéro Cadavres</h1>
				<div class="articleContent right">
					<p>Contrairement à certains de nos concurrents, nous vous garantissons une absence de mauvaises surprises de style cadavérique dans le jardin de votre location.</p>
					<p>Si un évènement aussi malheureux parvenait tout de même à arriver, le propriétaire s’engage à vous rembourser 600% du montant que vous lui avez versé.</p>
				</div>
		    	<div class="articleImage left">
		    		<img class="smallImage middle" alt="skull" src="../images/skull.png"/>
		    	</div>
	    	</div>	 
	   	</div>
	   	
	   	<div class="joinUs">
	   		N’attendez plus, <a href="inscription.html">rejoignez-nous</a> !!!
	   	</div>
	   	
	</div>	  

    <div id="footer">
        <p>Audrey <span class="smallCaps">Pautot</span> - Sophie <span class="smallCaps">Hantzperg</span></p>
        <p>Master 2 en Méthodes Informatiques Appliquées à la Gestion des Entreprises</p>
    </div>
</body>

</html>
