<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Holiday Me</title>
    <link href="../styles/base.css" rel="stylesheet" />
    <link href="../styles/specificHeader.css" rel="stylesheet" />
    <link href="../styles/specificFooter.css" rel="stylesheet" />
    <link href="../styles/text.css" rel="stylesheet" />
    <link href="../styles/specificMyAccount.css" rel="stylesheet" />
    <link href="../styles/button.css" rel="stylesheet" />
    <link href="../styles/liste.js" rel="javascript"/>
</head>

<body>

    <div id="header">

        <div id="logo"></div>

        <div id="menu">
            <ul>
                <li><a href="home.html">Accueil</a></li>
                <li><a href="news.html">Actualité</a></li>
                <li><a href="community.html">Notre communauté</a></li>
                <li><a href="project.html">Notre projet</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a class="selected">Mon compte</a></li>
            </ul>
        </div>

    </div>

     <div id="content">
       <div id="leftMenu">
           <ul>
               <li class="title">Mon compte</li>
               <li class="item"><a href="editMyData.html">Mes données</a></li>
               <li class="item"><a  href="editPassword.html">Changer de mot de passe</a></li>
               <li class="item"><a  href="/adminGeneral/deconnect">Déconnexion</a></li>
           </ul>
           <ul>
               <li class="title">Administration</li>
               <li class="item"><a href="adminUsers.html">Utilisateurs</a></li>
               <li class="item selected"><a>Logements</a></li>
           </ul>
       </div>
	        <div id="innerContent">	
		        <form th:object="${housing}" method="POST" class="addContent">
		            <h1 class="formTitle">Ajouter un logement</h1>
		            <table>
		            	<tr>
		                    <td colspan="2"><input placeholder="ShortDescription" type="text" th:field="*{ShortDescription}" /></td>
		                </tr>
		                 <tr>
		                    <td colspan="2"><input placeholder="Adresse" type="text" th:field="*{Adresse.Adresse}" /></td>
		                </tr>
		                <tr>
		                    <td class="half-table"><input placeholder="Code Postal" type="text" th:field="*{Adresse.CodePostal}"/></td>
		                    <td><input placeholder="Ville" type="text" th:field="*{Adresse.Ville}"/></td>
		                </tr>
		                <tr>
		                    <td colspan="2"> 
		                    	<select th:field="*{Adresse.Pays}">
		                    		<!-- <option value="" label="Pays" />-->
		                     		<option th:each="pays : ${paysList}" th:value="${pays.Pays}" th:text="${pays.Pays}"/>                       
		                     	</select>
		                   	</td>
		                </tr>
		                <tr>
		               		 <td>
			                     <select th:field="*{TypeLogement}" >
			                     	<!-- <option value="" label="Type Logement" />-->
			                     	<option th:each="typeLog : ${typeLogList}" th:value="${typeLog.TypeLogement}" th:text="${typeLog.TypeLogement}"/>                
			                     </select>
		                     </td>
		                     <td><input placeholder="PrixTTC" type="text" th:field="*{prixTTC}"/></td>		                     
		                </tr>
		                 
		                <tr>
		                    <td colspan="2"><textarea  placeholder="Full description" rows="10" th:field="*{Description}"></textarea></td>
		                </tr>
		             <!-- <tr>
		                	<td><a class="form" th:href="@{'/newPhoto/'+${housing.Id}}">Ajouter photo</a></td>
		                </tr>
		                 	 <tr th:each="photo : ${photoList}">
                        <td th:text="${photo.Name}"></td>
                        <td><a class="form" th:href="@{'/deletePhoto/'+${photo.Id}}">Supprimer</a></td>
                   		</tr>  -->
		                <tr>
		                    <td colspan="2"><button class="inscriptionButton">Valider</button></td>
		                </tr>
		                
		            </table>		          
		        </form>
	        </div>

    </div>

    <div id="footer">
        <p>Audrey <span class="smallCaps">Pautot</span> - Sophie <span class="smallCaps">Hantzperg</span></p>
        <p>Master 2 en Méthodes Informatiques Appliquées à la Gestion des Entreprises</p>
    </div>
</body>

</html>
