<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Holiday Me</title>
    <link href="../styles/base.css" rel="stylesheet" />
    <link href="../styles/specificHeader.css" rel="stylesheet" />
    <link href="../styles/specificFooter.css" rel="stylesheet" />
    <link href="../styles/text.css" rel="stylesheet" />
    <link href="../styles/specificHome.css" rel="stylesheet" />
    <link href="../styles/button.css" rel="stylesheet" />
</head>

<!-- Modification du pays et type de logement en string -->

<body>

    <div id="header">

        <div id="logo"></div>
        <div id="menu">
            <ul>
                <li><a class="selected">Accueil</a></li>
                <li><a href="news.html">Actualité</a></li>
                <li><a href="community.html">Notre communauté</a></li>
                <li><a href="project.html">Notre projet</a></li>
                <li><a href="contacts.html">Contacts</a></li>                
                <li th:if="${userConnected} == true">
                	<a href="adminGeneral.html">Mon compte</a>
                </li>
                <li th:if="${userConnected} == false">
                	<a href="connexion.html">Connexion</a>
                </li>
            </ul>
        </div>

    </div>

    <div id="content">

        <form th:object="${search}" method="POST">
            <table>
                <tr>                   
                    <td>
                    	<select th:field="*{SelectedCountry}">
							<option th:each="country : ${countryList}" th:value="${country.Pays}" th:text="${country.Pays}"></option>
						</select>
                    </td>

                    <td><input placeholder="Ville" th:field="*{Ville}" type="text"/></td>
                    <td>
	                     <select th:field="*{TypeLogement}">
	                     	<option th:each="typeLog : ${typeLogList}" th:value="${typeLog.TypeLogement}" th:text="${typeLog.TypeLogement}"/>                       
	                     </select>
                     </td>
					
                    <td><input placeholder="Date de début" th:field="*{DateDebut}" type="text"/></td>

                    <td><input placeholder="Date de fin" th:field="*{DateFin}" type="text"/></td>

                    <td><input placeholder="Nb voyageurs" th:field="*{NbVoyageurs}" type="text"/></td>                  
                </tr>
            </table>  
            <button class="searchButton">Rechercher</button>
        </form>

    </div>

    <div id="footer">
        <p>Audrey <span class="smallCaps">Pautot</span> - Sophie <span class="smallCaps">Hantzperg</span></p>
        <p>Master 2 en Méthodes Informatiques Appliquées à la Gestion des Entreprises</p>
    </div>
</body>

</html>
