<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Holiday Me</title>
    <link href="../styles/base.css" rel="stylesheet" />
    <link href="../styles/specificHeader.css" rel="stylesheet" />
    <link href="../styles/specificFooter.css" rel="stylesheet" />
    <link href="../styles/text.css" rel="stylesheet" />
    <link href="../styles/specificHousing.css" rel="stylesheet" />
    <link href="../styles/button.css" rel="stylesheet" />
    <link href="../styles/liste.js" rel="javascript"/>
</head>

<body>

    <div id="header">

        <div id="logo"></div>

        <div id="menu">
            <ul>
                <li><a href="home.html">Accueil</a></li>
                <li><a class="selected">Actualité</a></li>
                <li><a href="community.html">Notre communauté</a></li>
                <li><a href="project.html">Notre projet</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="connexion.html">Connexion</a></li>
            </ul>
        </div>

    </div>

    <div id="content">
    
    	<form >
            <h1 class="formTitle" th:text="${housing.ShortDescription}"></h1>
            <table th:object="${housing}">
               <tr>
                   <td>
                   		<label class="dataLabel">Type de logement : </label>
                   		<label th:text="${housing.TypeLogement}"></label>
                   </td>
                   <td>
                   		<label class="dataLabel">Coût de la nuitée (TTC) : </label>
                   		<label th:text="${housing.prixTTC}"></label>€
                   </td>
               </tr>
               <tr>
               		<td  class="topSection">
               			<label class="dataLabel">Adresse :</label>
               			<label th:text="${housing.Adresse.Adresse}"></label>
              		</td>
               </tr>
               <tr>
               		<td>
               			<label class="textWithIndent" th:text="${housing.Adresse.CodePostal}"></label>
               			<label th:text="${housing.Adresse.Ville}"></label>
            		</td>
               </tr>
               <tr>
                   <td><label class="dataLabel">Description : </label></td>
               </tr>
               <tr>
               		<td colspan="2"><label class="textWithIndent" th:text="${housing.Description}"></label></td>
               </tr>
            	<tr>
            		<td class="lastLine"><a class="pseudoButton" th:href="listHousing.html">Retour</a></td>
                  	<td class="lastLine"><a class="pseudoButton" th:href="@{'/createBooking/creat/'+${housing.id}}">Réserver</a></td>
              	</tr>
            </table>
          
        </form>
    
        <!--  <form >
            <h1 class="formTitle" >Logement</h1>
            <table th:object="${housing}">
               	<tr>
                   <td colspan="2" class="topSection"><label th:text="${housing.ShortDescription}"></label></td>
               </tr>
               <tr>
                   <td><label th:text="${housing.TypeLogement}"></label></td>
                   <td><label>Prix TTC : </label><label th:text="${housing.prixTTC}"></label></td>
               </tr>
               <tr>
               	<td colspan="2" class="topSection"><label th:text="${housing.Adresse.Adresse}"></label></td>
               </tr>
               <tr>
               	<td><label th:text="${housing.Adresse.CodePostal}"></label></td>
               	<td><label th:text="${housing.Adresse.Ville}"></label></td>
               </tr>
               <tr>
                   <td><label>Description : </label></td>
               </tr>
               <tr>
                   <td colspan="2" class="topSection"><label th:text="${housing.Description}"></label></td>
               </tr>
            	<tr>
            		<td><a class="form" th:href="listHousing.html">Retour</a></td>
                  	<td><a class="form" th:href="@{'/createBooking/creat/'+${housing.id}}">Réserver</a></td>
              	</tr>
            </table>
          
        </form> -->

    </div>

    <div id="footer">
        <p>Audrey <span class="smallCaps">Pautot</span> - Sophie <span class="smallCaps">Hantzperg</span></p>
        <p>Master 2 en Méthodes Informatiques Appliquées à la Gestion des Entreprises</p>
    </div>
</body>

</html>
