
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Holiday Me</title>
    <link href="../base.css" rel="stylesheet" />
    <link href="../specificHeader.css" rel="stylesheet" />
    <link href="../specificFooter.css" rel="stylesheet" />
    <link href="../text.css" rel="stylesheet" />
    <link href="../specificInscription.css" rel="stylesheet" />
    <link href="../button.css" rel="stylesheet" />
</head>

<body>

    <div id="header">

        <div id="logo"></div>

        <div id="menu">
            <ul>
                <li><a href="home.html">Accueil</a></li>
                <li><a class="selected">Actualité</a></li>
                <li><a href="community.html">Notre communauté</a></li>
                <li><a href="project.html">Notre projet</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="connexion.html">Connexion</a></li>
            </ul>
        </div>

    </div>

    <div id="content">
        

        <form th:object="${login}" method="POST">
            <h1 class="formTitle">Formulaire d'incription</h1>
            <table>
                <tr>
                    <td class="topSection"><input placeholder="Nom" type="text" th:field="*{User.Nom}"/></td>
                    <td class="topSection"><input placeholder="Prénom" type="text" th:field="*{User.Prenom}"/></td>
                </tr>
                <tr>
                    <td><input placeholder="Date de naissance" type="text" th:field="*{User.DateNaissance}"/></td>
                </tr>
                <tr>
                    <td colspan="2" class="topSection"><input placeholder="Adresse" type="text"  th:field="*{User.Adresse.Adresse}" name="Adresse"/></td>
                </tr>
                <tr>
                    <td><input placeholder="Code Postal" type="text" th:field="*{User.Adresse.CodePostal}" name="CodePostal"/></td>
                    <td><input placeholder="Ville" type="text" th:field="*{User.Adresse.Ville}" name="Ville"/></td>
                </tr>
                <tr>
                    <td>
                    	<select th:field="*{User.PaysId}">
							<option th:each="country : ${countryList}" th:value="${country.Id}" th:text="${country.Pays}"></option>
						</select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="topSection"><input placeholder="Adresse email" type="text" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input placeholder="Confirmation de l'adresse email" type="text" th:field="*{User.Email}"/></td>
                </tr>
                <tr>
                    <td colspan="2" class="topSection"><input placeholder="Mot de passe" type="text" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input placeholder="Confirmation du mot de passe" type="text" th:field="*{Password}"/></td>
                </tr>
                <tr>
                    <td colspan="2" class="topSection"><button class="inscriptionButton" type="submit">Valider</button></td>
                </tr>
            </table>
          
        </form>

    </div>

    <div id="footer">
        <p>Audrey <span class="smallCaps">Pautot</span> - Sophie <span class="smallCaps">Hantzperg</span></p>
        <p>Master 2 en Méthodes Informatiques Appliquées à la Gestion des Entreprises</p>
    </div>
</body>

</html>
