<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Holiday Me</title>
    <link href="../styles/base.css" rel="stylesheet" />
    <link href="../styles/specificHeader.css" rel="stylesheet" />
    <link href="../styles/specificFooter.css" rel="stylesheet" />
    <link href="../styles/text.css" rel="stylesheet" />
    <link href="../styles/specificConnexion.css" rel="stylesheet" />
    <link href="../styles/button.css" rel="stylesheet" />
</head>

<body>

    <div id="header">

        <div id="logo"></div>
        <div id="menu">
            <ul>
                <li><a href="home.html">Accueil</a></li>
                <li><a href="news.html">Actualité</a></li>
                <li><a href="community.html">Notre communauté</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="connexion.html">Connexion</a></li>
            </ul>
        </div>

    </div>

    <div id="content">

        <form th:object="${login}" method="POST">
        	<h1 class="formTitle">Récupération de compte</h1>
            <table>
                <tr>
                   <td><input placeholder="Login" type="text" th:field="*{Login}"/></td>
                </tr> 
                <tr>
                    <td><button class="connexionButton">Envoyer</button></td>
                </tr>
            </table>
            
        </form>

    </div>

    <div id="footer">
        <p>Audrey <span class="smallCaps">Pautot</span> - Sophie <span class="smallCaps">Hantzperg</span></p>
        <p>Master 2 en Méthodes Informatiques Appliquées à la Gestion des Entreprises</p>
    </div>
</body>

</html>
