<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Holiday Me</title>
    <link href="../styles/base.css" rel="stylesheet" />
    <link href="../styles/specificHeader.css" rel="stylesheet" />
    <link href="../styles/specificFooter.css" rel="stylesheet" />
    <link href="../styles/text.css" rel="stylesheet" />
    <link href="../styles/specificMyAccount.css" rel="stylesheet" />
    <link href="../styles/button.css" rel="stylesheet" />
</head>

<body>

    <div id="header">

        <div id="logo"></div>

        <div id="menu">
            <ul>
                <li><a href="home.html">Accueil</a></li>
                <li><a href="news.html">Actualité</a></li>
                <li><a href="community.html">Notre communauté</a></li>
                <li><a href="project.html">Notre projet</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="adminGeneral.html">Mon compte</a></li>
            </ul>
        </div>

    </div>

    <div id="content">
       <div id="leftMenu">
           <ul>
               <li class="title">Mon compte</li>
               <li class="item selected"><a>Mes données</a></li>
               <li class="item"><a href="suscribersEditPass.html">Changer de mot de passe</a></li>
               <li class="item"><a  href="/adminGeneral/deconnect">Déconnexion</a></li>
           </ul>
           <ul>
               <li class="title">Administration</li>
               <li class="item selected"><a>Utilisateurs</a></li>
               <li class="item"><a href="adminHousing.html">Logements</a></li>
           </ul>
       </div>

        <div id="innerContent">
	        <form th:object="${housing}" class="readOnly" method="POST">
	            <h1 class="formTitle">Mes données</h1>
	            <table>
	                <tr>
	                	<td class="topSection description"><label>Nom :</label></td>
	                    <td class="topSection"><label th:text="${user.Nom}"></label></td>
	                </tr>
	                <tr>
	                    <td class="description"><label>Prénom :</label></td>
	                    <td><label th:text="${user.Prenom}"></label></td>
	                </tr>
	                <tr>
	                	<td class="description"><label>Date de naissance :</label></td>
	                    <td><label th:text="${user.DateNaissance}"></label></td>
	                </tr>
	                <tr>
	                	<td class="topSection description"><label>Adresse :</label></td>
	                    <td colspan="3" class="topSection"><label th:text="${user.Adresse.Adresse}"></label></td>
	                </tr>
	                <tr>
	                	<td class="description"><label>Code postal :</label></td>
	                    <td><label th:text="${user.Adresse.CodePostal}" ></label></td>
	                    
	                </tr>
	                <tr>
	                	<td class="description"><label>Ville :</label></td>
	                    <td><label th:text="${user.Adresse.Ville}"></label></td>
	                </tr>
	                <tr>
	                	<td class="description"><label>Pays :</label></td>
	                    <td><label th:text="${user.FormatPays.Pays}"></label></td>
	                </tr>
	                <tr>
	                	<td class="topSection description"><label>Email :</label></td>
	                    <td colspan="2" class="topSection"><label th:text="${user.Email}"></label></td>
	                </tr>
	                <tr>
	                	<td colspan="2" class="topSection"><button class="standardButton returnButton">Retour</button></td>
	                </tr>
	            </table>                
	        </form>
		</div>
    </div>

    <div id="footer">
        <p>Audrey <span class="smallCaps">Pautot</span> - Sophie <span class="smallCaps">Hantzperg</span></p>
        <p>Master 2 en Méthodes Informatiques Appliquées à la Gestion des Entreprises</p>
    </div>
</body>

</html>
