#content {
    /*background-image : url('../images/under_construction.jpg');*/
    background-position : center;
    background-size : contain;
    background-repeat : no-repeat;
	background-color : white;
    opacity : 0.9;
    overflow : hidden;
}

#leftMenu {
    margin-top : 5vh;
    width : 15vw;
    background-color : rgb(150,150,150);
    float : left;
    height : 72vh;
}
#leftMenu ul{
    margin : 0;
    margin-left : -2vw;
}

#leftMenu ul li{
    padding : 1vh;
    padding-right : 1vw;
    padding-left : 1vw;
    color : whitesmoke;
}
    #leftMenu li.title {
        list-style-type : none;
        text-decoration : underline;
    }
    #leftMenu li.item {
        list-style-type : none;
        padding-left : 1vw;
        border-left : 3px solid rgb(150,150,150);
    	border-bottom : 2px solid rgb(150,150,150);
    }
    #leftMenu li.selected{
    	border-left : 3px solid whitesmoke;
    	border-bottom : 2px solid whitesmoke;
    }
        #leftMenu li.item:hover {
            background-color : rgb(163,163,163);
            cursor : pointer;
        } 
    #leftMenu a {
        text-decoration : none;
        color : whitesmoke;
    }

#innerContent {
    margin-top : 5vh;
    width : 85vw;
    min-height : 72vh;
    height : 10vh;
    float : right;
    background-color : whitesmoke;
    overflow : auto;
}

    #innerContent form {
        width : 80vw;
        margin-left : auto;
        margin-right : auto;
    }

    #innerContent form table{
        border-spacing : 0;
    }

        #innerContent form table tr.rowTitle {
            background-color : rgb(41,143,244);;
        }

        #innerContent form table tr th {
            font-size : 14px;
            font-weight : normal;
            color : white;
            padding-left : 1vw;
            width : 14vw;
            text-align : left;
        }   

        #innerContent form table tr td {
            font-size : 14px;
            color : black;
            padding-left : 1vw;
            width : 14vw;
            text-align : left;
        }
        
        
        #innerContent form.readOnly table
        {
        	margin-left : 20vw;
        	margin-right : auto;
        	border-spacing : 10px;
        	width : 50vw;
        }
        #innerContent form.readOnly table tr td.topSection
        {
        	margin-top : 20px;
        }   
        #innerContent form.readOnly table tr td.description
        {
        	width : 8vw;
        	text-align : right;
        	font-weight : semi-bold;
        	color : rgb(41,143,244);
        }   
		#innerContent form.edit table
		{
			margin-left : 18vw;
			margin-right : auto;
        	border-spacing : 10px;
		}
		#innerContent form.edit table tr td.topSection
        {
        	margin-top : 20px;
        }   
        #innerContent form.edit table tr td input
        {
        	width : 25vw;
        }
         #innerContent form.edit table tr td.description
        {
        	width : 8vw;
        	text-align : right;
        	font-weight : semi-bold;
        	color : rgb(41,143,244);
        } 

h1 {
        font-size : 20px;
        font-family : 'Segoe UI';
        font-weight : normal;
        color : rgb(41,143,244);
        text-align : center;
        width : 85vw;    
    }

select {
    min-height : 40px;
    border : 2px solid rgb(41,143,244);
    background-color : rgba(255, 255, 255, 0.9);
}

select:hover {
    cursor : pointer;
}


