.smallCaps {
    font-variant : small-caps;
}

input {
    padding : 12px;
    width : 100%;
    border : 2px solid rgb(41,143,244);
    background-color : rgba(255, 255, 255, 0.9);
	box-sizing: border-box;
}

textarea {
    padding : 12px;
    /*width : 34.2vw;*/
    width : 100%;
    border : 2px solid rgb(41,143,244);
    background-color : rgba(255, 255, 255, 0.9);
	box-sizing: border-box;
}

h1.formTitle {
    width : 100%;
    text-align : center;
    color : rgb(41,143,244);
    font-size : 24px;
    font-family : 'Segoe UI';
    font-weight : 400;
}
h1.editDataTitle{
	width : 50%;
    text-align : left;
    color : rgb(41,143,244);
    font-size : 24px;
    font-family : 'Segoe UI';
    font-weight : 400;
    margin-left : 25vw;
}

label.hightlight
{
	color : rgb(41,143,244);
	font-size : 24px;
}

form.message
{
	margin-top : 5vh;
	margin-left : 5vw;
	font-size : 20px;
}

