.smallCaps {
    font-variant : small-caps;
}

input {
    min-height : 30px;
    padding : 5px;
    width : 15vw;
    border : 2px solid rgb(41,143,244);
    background-color : rgba(255, 255, 255, 0.9);
}

    input.large {
        width : 34.2vw;
    }

textarea {
    padding : 5px;
    width : 34.2vw;
    border : 2px solid rgb(41,143,244);
    background-color : rgba(255, 255, 255, 0.9);
}

h1.formTitle {
    width : 100%;
    text-align : center;
    color : rgb(41,143,244);
    font-size : 24px;
    font-family : 'Segoe UI';
    font-weight : 400;
}

label.hightlight
{
	color : rgb(41,143,244);
	font-size : 24px;
}

form.message
{
	margin-top : 5vh;
	margin-left : 5vw;
	font-size : 20px;
}

select {
    min-height : 40px;
    min-width : 150px;
    border : 2px solid rgb(41,143,244);
    background-color : rgba(255, 255, 255, 0.9);
}

select:hover {
    cursor : pointer;
}


