body {
    margin : 0;
    min-width : 850px;
    width : 100vw;
    min-height : 650px;
    height : 100vh;
   
    font-family : 'Segoe UI';
    background-color : whitesmoke;
    overflow-x : hidden;
    overflow-y : auto;
}

#header {
    margin : 0;
    min-width : inherit;
    width : inherit;
    height : 10vh;
    min-height : 60px;
    background-color : rgb(41,143,244);
    border-bottom : 2px solid rgb(245,245,245);
}

#content {
    margin : 0;
    width : inherit;
    height : 80.2vh;
}

#footer {
    margin : 0;
    width : inherit;
    height : 8vh;
    min-height : 75px;
    background-color : rgb(41,143,244);
}


