.searchButton {
    width : 200px;
    height : 50px;
    margin-top : 5%;
    margin-left : 40%;
    margin-right : auto;
    padding : 5px;
    padding-left : 50px;

    background-color : rgb(41,143,244);
    background-image : url('/images/search_icon.png');
    background-repeat : no-repeat;
    background-size : 20%;
    background-position-x : 15%;
    background-position-y : 50%;
    border : none;

    font-variant : small-caps;
    font-size : 18px;
    color : rgb(245,245,245);
}

    .searchButton:hover {
        cursor : pointer;
        background-color : rgb(68,162,255);
    }

.connexionButton {
    width : 200px;
    height : 40px;
    margin-top : 5%;
    margin-left : 3vw;
    margin-right : auto;
    padding : 2px;

    background-color : rgb(41,143,244);
    border : none;

    font-variant : small-caps;
    font-size : 18px;
    color : rgb(245,245,245);
}
	.connexionButton:hover {
        cursor : pointer;
        background-color : rgb(68,162,255);
    }

.inscriptionButton {
    width : 200px;
    height : 40px;
    margin-left : 12vw;
    margin-right : auto;
    padding : 2px;

    background-color : rgb(41,143,244);
    border : none;

    font-variant : small-caps;
    font-size : 18px;
    color : rgb(245,245,245);
}
.inscriptionButton {
        cursor : pointer;
        background-color : rgb(68,162,255);
    }

.standardButton {
    width : 200px;
    height : 40px;
    margin-left : 8vw;
    margin-right : auto;
    padding : 2px;

    background-color : rgb(41,143,244);
    border : none;

    font-variant : small-caps;
    font-size : 18px;
    color : rgb(245,245,245);
}
.standardButton {
        cursor : pointer;
        background-color : rgb(68,162,255);
    }
    .standardButton.editPwdBtn{
    	margin-left : 4vw;
    } 
   .standardButton.returnButton{
   margin-left: 18vw;
   }
    
.addNewItem{
	width : 190px;
    height : 30px;
    margin : 10px;
    margin-left : 65vw;
    background-color : rgb(41,143,244);
    color : rgb(245,245,245);
    font-variant : small-caps;
    font-size : 14px;
    border : none;
}

.addNewItem:hover{
	cursor : pointer;
	background-color : rgb(68,162,255);
}

    
    

    
