#content{
	box-sizing : border-box;
	padding : 2%;	
	height : 110vh;
}

.articles{
	width : 65%;
	height : auto;
	margin-left : auto;
	margin-right : auto;
}
.article{
	float : left;
}

.articleContent{
	box-sizing : border-box;
	width : 75%;
}

.articleImage{
	box-sizing : border-box;
	width : 20%;
}

.left{
	float : left;
}
.left img{
	float : right;
}

.right{
	float : right;
}
.right img{
	float : left;
}

img.middle{
	margin-top : 12%;
}
img.smallImage{
	height : 100px;
}
img.lessSmallImage{
	height : 120px;
}


span.smallText{
	font-size: 12px;
}

span.accent{
	font-size : 18px;
	color : rgb(41,143,244);
}

p{
	text-align : justify;
}

h1.articleTitle{
	text-align : left;
	margin-left : 30px;
    color: rgb(41,143,244);
    font-size: 28px;
    font-family: 'Segoe UI';
    font-weight: 400;
}

img{
	float:left;
}

.photoContains{
	width:auto;
	height:120px;
	position: relative;
    display: inline-block;
}

.photoSection{
	width:600px;
	height:200px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space:nowrap;
	margin-left: auto;
    margin-right: auto;
}

.citation{
	width : 30%;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : 25px;
}

.citationContent{
	text-align : center;
	font-style : italic;
	font-size : 20px;
	color : rgb(41,143,244);
}

.citationAuthor{
	box-sizing : border-box;
	margin-left : 70%;
	font-size : 18px;
}

.joinUs{
	width : 30%;
	margin-left : auto;
	margin-right : auto;
	font-size : 18px;	
	text-align : center;
}

.joinUs a{
	font-size : 20px;	
}
