#content {
    background-image : url('../images/under_construction.jpg');
    background-position : center;
    background-size : contain;
    background-repeat : no-repeat;
	background-color : white;
    opacity : 0.9;
}

form {
    width : 90vw;
    height : auto;
    margin-left : auto;
    margin-right : auto;
    padding-top : 2%;
}

form table{
	width : 80%;
	box-sizing : border-box;
	border-spacing: 15px;
	margin-right : auto;
	margin-left : auto;
}

form table tr td{
	width : 50%;
}

form table tr td.lastLine{
	padding-top : 40px;
}

label.textWithIndent{
	box-sizing : border-box;
	padding-left : 78px;
}

label.dataLabel{
	color : rgb(41,143,244);
	font-size : 18px;
}


input {
    min-height : 40px;
    border : 2px solid rgb(41,143,244);
    background-color : rgba(255, 255, 255, 0.9);
}

select {
    min-height : 46px;
    border : 2px solid rgb(41,143,244);
    background-color : rgba(255, 255, 255, 0.9);
}

select:hover {
    cursor : pointer;
}

.photoSection{
	width:600px;
	height:200px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space:nowrap;
	margin-left: auto;
    margin-right: auto;
}

.photoContains{
	width:auto;
	height:120px;
	position: relative;
    display: inline-block;
}
img{
	float:left;
	height:120px;
}